In [6]:
import pandas as pd
import numpy as np

# A small, relevant dataset for your project
data = {
    'distance_km': [5.2, 10.1, 3.5, 7.8, 4.0, 8.5, 6.7, 12.3, 2.1, 9.9],
    'fare_amount': [95.50, 180.00, 70.00, 145.75, 80.50, 155.00, 120.25, 210.50, 60.00, 175.75],
    'passengers': [1, 2, 1, 1, 3, 1, np.nan, 2, 1, 1],
    'demand_level': ['Medium', 'High', 'Low', 'Medium', 'Low', 'High', 'Medium', 'High', 'Low', 'Medium'],
    'weather': ['Sunny', 'Rainy', 'Sunny', 'Cloudy', 'Sunny', 'Rainy', 'Sunny', 'Cloudy', 'Sunny', 'Rainy']
}

# Create a DataFrame from the dictionary
df = pd.DataFrame(data)

print("Fare dataset created successfully!")
df.head()

Fare dataset created successfully!

   distance_km  fare_amount  passengers demand_level weather
0          5.2        95.50         1.0       Medium   Sunny
1         10.1       180.00         2.0         High   Rainy
2          3.5        70.00         1.0          Low   Sunny
3          7.8       145.75         1.0       Medium  Cloudy
4          4.0        80.50         3.0          Low   Sunny

In [7]:
print(" --shape of the Dataframe")
print(df.shape)

 --shape of the Dataframe
(10, 5)

In [8]:
print("\n--- DataFrame Info ---")
df.info()

--- DataFrame Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   distance_km   10 non-null     float64
 1   fare_amount   10 non-null     float64
 2   passengers    9 non-null      float64
 3   demand_level  10 non-null     object
 4   weather       10 non-null     object
dtypes: float64(3), object(2)
memory usage: 532.0+ bytes

In [9]:
print("\n--Statistical Summary---")
df.describe()

--Statistical Summary---

       distance_km  fare_amount  passengers
count    10.000000    10.000000    9.000000
mean      7.010000   129.325000    1.444444
std       3.292905    51.830258    0.726483
min       2.100000    60.000000    1.000000
25%       4.300000    84.250000    1.000000
50%       7.250000   133.000000    1.000000
75%       9.550000   170.562500    2.000000
max      12.300000   210.500000    3.000000