In [2]:
import pandas as pd

ride_data = {
    'driver_name' : ['Suresh','Riya','amit'],
    'destination': ['Koregaon Park', 'Hinjawadi', 'FC Road'],
    'distance_km': [5, 22, 8],
    'fare_rs': [150, 450, 180]
}

#Dataframe
rides_df = pd.DataFrame(ride_data)

rides_df

  driver_name    destination  distance_km  fare_rs
0      Suresh  Koregaon Park            5      150
1        Riya      Hinjawadi           22      450
2        amit        FC Road            8      180

In [4]:
# First, let's save our DataFrame to a CSV file to simulate a real-world scenario
#index=False prevents Pandas from writing the row numbers to the file

rides_df.to_csv('rides_data.csv', index=False)

#loading back into a dataframe
loaded_rides_df = pd.read_csv('rides_data.csv')

print("data loaded fromrides_data.csv")
loaded_rides_df

data loaded fromrides_data.csv

  driver_name    destination  distance_km  fare_rs
0      Suresh  Koregaon Park            5      150
1        Riya      Hinjawadi           22      450
2        amit        FC Road            8      180

In [8]:
#commands to inspect the data 

#to see the first two rows of our dataframe
print("---- First 2 Rows (head) ---")
print(rides_df.head(2))

---- First 2 Rows (head) ---
  driver_name    destination  distance_km  fare_rs
0      Suresh  Koregaon Park            5      150
1        Riya      Hinjawadi           22      450

In [9]:
#get summary of data-types
print("\n--DataFrame info--")
rides_df.info()

--DataFrame info--
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   driver_name  3 non-null      object
 1   destination  3 non-null      object
 2   distance_km  3 non-null      int64
 3   fare_rs      3 non-null      int64
dtypes: int64(2), object(2)
memory usage: 228.0+ bytes

In [10]:
#select a single column (this returns a series)
print("\n--- Selecting a Single Column (destination)---")
print(rides_df['destination'])

--- Selecting a Single Column (destination)---
0    Koregaon Park
1        Hinjawadi
2          FC Road
Name: destination, dtype: object

In [12]:
print("--conditional filtering(distance>10km)")
long_rides = rides_df[rides_df['distance_km']>10]
print(long_rides)

--conditional filtering(distance>10km)
  driver_name destination  distance_km  fare_rs
1        Riya   Hinjawadi           22      450